.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.box {
  padding: 0.8rem 1rem;
  border-radius: 8px;
  background-color: #fff;
  color: #aeb9e1;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
