.nav-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
  background: var(--bg-primary);
  padding-block: 2rem;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-inline: 1rem;
}
.logo {
  display: flex;
  align-items: center;
  gap: 6px;
}
.logo-text {
  font-family: Space Grotesk;
  font-size: 20.42px;
  font-weight: 700;
  line-height: 22.46px;
  text-underline-position: from-font;
}

.sidebar {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.bottom-section {
  background-color: var(--bg-primary);
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  position: relative;
}

.bottom-section::before {
  content: "";
  position: absolute;
  top: -24px;
  display: block;
  height: 1px;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  width: 100%;
  padding: 0.8rem 1rem;
  transition: background-color 0.2s ease-out;
  justify-content: space-between;
}
.row:hover {
  background-color: #0a1330;
}
.left > p {
  font-size: var(--ft-250);
  font-weight: 500;
  color: #aeb9e1;

  white-space: nowrap;
}

.left {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.row.active {
  background-color: #0a1330;
}
.row.active > .left > p {
  color: #cb3cff;
}
.new-btn {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px #aaa;
}
.storage-container {
  padding: 0.5rem 1rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* .storage-container > p {
  color: #180d5b;
  font-size: var(--ft-250);
  font-weight: 600;
  text-transform: capitalize;
  white-space: nowrap;
}
.storage > p {
  color: #00b0a8;
  font-size: var(--ft-200);
  font-weight: 500;
  text-transform: capitalize;
  white-space: nowrap;
} */
.storage > progress {
  appearance: none;
  height: 10px;
  width: 100%;
  background-color: #eee;
  border-radius: 0px;
  overflow: hidden;
}
.storage > progress::-webkit-progress-bar {
  /* Customize the background of the progress bar */
  background-color: #aeb9e1;
}

.storage > progress::-webkit-progress-value {
  /* Customize the color of the progress bar */
  background-color: #cb3cff;
}

.storage > progress::-moz-progress-bar {
  /* Customize the color of the progress bar (for Firefox) */
  background-color: #00b0a8;
}

.used {
  color: #00c2ff;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-decoration-skip-ink: none;
}

.percentage {
  margin-top: 6px;
  color: #aeb9e1;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.row-highlight {
  display: flex;
  background-color: #cdcbf2;
  padding: 0.5rem 0.5rem 0.5rem 4rem;
  color: #180d5b;
  font-size: var(--ft-250);
  font-weight: 600;
  text-transform: capitalize;
}
@media (width < 1000px) {
  .row > p {
    display: none;
  }
  .row {
    justify-content: center;
  }
  .storage-container {
    display: none;
  }
}
