.pop {
  top: 80%;
  right: 0;
}
.user-details {
  padding: 1.5rem 1rem 1rem 1rem;
}
.user-details > p {
  color: #c0c1cc;
  font-size: var(--ft-250);
  font-weight: 500;
  line-height: 150%;
  padding-left: 0.5rem;
}
.address-container {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
  padding: 0.5rem;
}
.address-container > p {
  color: var(--clr-secondary);
  font-size: var(--ft-500);
  font-weight: 400;
  line-height: 13.112px;
  text-transform: capitalize;
}
.copy-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}
.btn {
  all: unset;
  text-align: center;
  border-radius: 0 0 20px 20px;
  background-color: #cdcbf2;
  padding: 0.7rem 1rem;
  cursor: pointer;
  color: #180d5b;
  font-size: var(--ft-350);
  font-weight: 500;
  line-height: 150%;
}
