.dropdown {
  position: relative;
}
.dropdown-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: linear-gradient(128.49deg, #cb3cff 19.86%, #7f25fb 68.34%);
  color: var(--clr-primary);
  border-radius: 4px;
  border: none;
  font-size: var(--ft-200);
  font-weight: 500;
  line-height: 14px;
  padding: 0.6rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.dropdown-btn:hover {
  box-shadow: 1px 1px 5px var(--bg-primary);
  transform: translate(-2px, -2px);
}
.dropdown-content {
  list-style: none;
  position: absolute;
  z-index: 1000;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: var(--bg-accent-light);
  transform-origin: 0 0;
  transform: translateY(-1em) scaleY(0);
  transition: transform ease 0.2s;
  visibility: hidden;
}
.dropdown:focus-within .dropdown-content {
  visibility: visible;
  transform: translateY(0) scaleY(1);
}

.dropdown-content > li {
  cursor: pointer;
  color: var(--clr-secondary);
  font-size: var(--ft-250);
  font-weight: 500;
  line-height: 150%;
}
.dropdown-content > li:hover {
  background-color: var(--bg-accent);
}
.new-folder-btn {
  border: none;
  padding: 0.5rem 1rem;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dropdown-content > li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
