.pop-up {
  padding: 0;
  position: absolute;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  transform-origin: 0 0;
  animation: increase 0.1s linear;
}

@keyframes increase {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
